input,
button {
    padding: 0.25em;
    border: 1px solid var(--color-black-soft);
    border-radius: 4px;
}

button {
    cursor: pointer;
}

button[type="submit"] {
    background-color: hsl(126, 22%, 75%);
    padding: 0.25em 0.5em;
}

.addValueForm {
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: start;
    padding: 0.5em;
    border: 1px solid var(--color-black-soft);
    border-radius: 6px;
}

.row {
    display: flex;
    gap: 1em;
    align-items: baseline;
}

.processingForm {
    font-size: 1.5em;
    display: flex;
    gap: 1em;
    align-items: start;
    padding: 0.5em;
    border: 1px solid var(--color-black-soft);
    border-radius: 6px;
}

.items {
    display: grid;
    grid-template-columns: repeat(4, minmax(max-content, 1fr));
    gap: 0.5em 1em;
    border: 1px solid var(--color-black-soft);
    border-radius: 4px;
    padding: 1em;
}

.items .header {
    font-weight: bold;
}

.empty {
    grid-column: 1 / -1;
    text-align: center;
}

.columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}